
<header class="masthead">
  <ul class="language-nav">
    <li class="masthead-links first-link"><a href="#">CSS</a></li>
    <li class="masthead-links"><a href="#">HTML</a></li>
    <li class="masthead-links"><a href="#">Javascript</a></li>
    <li class="masthead-links"><a href="#">Ruby</a></li>
  </ul>
    <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li><i class="far fa-newspaper"></i><a href="#">Today’s Paper</a></li>
    <li><i class="fas fa-video"></i><a href="#">Video</a></li>
    <li> <button type="button" name="button">77°F</button></li>
    <div>
      <button type="button" name="button">AAO</button><strong>+100%</strong>
    </div>

  </ul>
</header>
