<header class="section-links">
  <ul>
    <li><a href="https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">World</a></li>
    <li><a href="https://images.pexels.com/photos/127027/pexels-photo-127027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">San Francisco</a></li>
    <li><a href="https://images.pexels.com/photos/62321/kitten-cat-fluffy-cat-cute-62321.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">New York</a></li>
    <li><a href="https://images.pexels.com/photos/171227/pexels-photo-171227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">Bootcamp Prep</a></li>
    <li><a href="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1511855269000/photosp/e81c6e0d-a093-4582-8e11-64ae2946c15d/stock-photo-nobody-view-from-above-dog-animals-mouth-open-lying-down-puppy-happiness-golden-retriever-e81c6e0d-a093-4582-8e11-64ae2946c15d.jpg">Jumpstart</a></li>
    <li><a href="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1509879636000/photosp/c9d7caaa-3eff-461c-996c-cd926a9a10d3/stock-photo-grass-dog-summer-green-white-puppy-golden-retriever-cream-baby-c9d7caaa-3eff-461c-996c-cd926a9a10d3.jpg">Online</a></li>
    <li><a href="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1515201703000/photosp/5dc436be-0c70-43f7-b266-9202c6d4e189/stock-photo-puppy-golden-retriever-english-cream-5dc436be-0c70-43f7-b266-9202c6d4e189.jpg">Marketing</a></li>
    <li><a href="https://i.imgur.com/yXDNi58.jpg">Sales</a></li>
    <li><a href="https://i.kym-cdn.com/entries/icons/original/000/002/232/bullet_cat.jpg">TalentMatch</a></li>
    <li><a href="https://feedbagpetsupply.com/wp-content/uploads/Easter-Kittens-300x300.jpg">Alumni</a></li>
    <li class="all"><a href="#">All</a></li>
  </ul>
</header>
