.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: $sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;

}

.right-nav > ul > li {
  font-family: $sans-serif;
  font-weight: 400;
  padding-right: 5px;
}

.right-nav > ul > li:last-of-type {


}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;
}

.left-nav span {
}


.right-nav i {
  font-size: 16px;
  padding-left: 5px;
}
